body {
    text-align: center;
    font-family: ;
    /* background: linear-gradient(6deg, rgba(255,255,255,1) 3%, rgba(249,217,252,1) 100%); */
    /* background: rgb(250,196,254);
    background: linear-gradient(200deg, rgba(250,196,254,1) 50%, rgba(209,145,254,1) 100%); */
    background: rgb(250,196,254);
    background: linear-gradient(225deg, rgba(250,196,254,1) 38%, rgba(244,229,255,1) 100%);
}

/* grid */
.container {
    display: grid;
    grid-template-columns: 0.4fr 0.2fr 0.4fr;
    grid-template-rows: 125px 300px 300px 300px 125px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

.grid {
    background-color: transparent;
    color: white;
    padding: 25px;
}

.header {
    grid-column: 1 / 4;
    grid-row-start: 1 / 2;
}

.builder-toppings {
    grid-column: 1 / 2;
    grid-row-start: 2 / 3;
    background-color: #d1fc81;
}

.builder-scoops {
    grid-column: 1 / 2;
    grid-row-start: 3 / 4;
    background-color: #D5c9e2;
}

.builder-base {
    grid-column: 1 / 2;
    grid-row-start: 4 / 5;
    background-color: #fcda75;
}

.center {
    grid-column: 2 / 3;
    grid-row-start: 2;
    grid-row-end: 5;
}

.viewer {
    grid-column: 3 / 4;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: #44d38e;
}

.footer {
    grid-column: 1 / 4;
    grid-row-start: 5 / 6;
}

/* text&font */
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');

p {
    font-family: 'Work Sans', sans-serif;
}

h1 {    
    font-family: 'Raleway Dots', cursive;
}

.decorative-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.75em;
    color: #fe2844;
}




/* buttons */
.solid-ombre-btn {
    background: -webkit-linear-gradient(right, #fe2844, #ff22b5, #d191fe);
    border: none;
    border-radius: 21px;
    color: white;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    width: 153px;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 50px;
}

.outline-ombre-btn {
    border-radius: 100rem;
    padding: 1rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    padding: .5rem 3rem;
    color: #fe2844;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #d191fe, #ff22b5, #fe2844);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px rgba(250,196,254,1) inset;
    cursor: pointer;
}

.outline-ombre-btn:hover {
    box-shadow: none;
    color: white;
}
