body {
    text-align: center;
    background: linear-gradient(225deg, rgba(250,196,254,1) 38%, rgba(244,229,255,1) 100%);
}

.dark-mode {
    background: linear-gradient(225deg, rgba(21,28,74,1) 38%, rgba(0,15,121,1) 100%);
}

/* grid */
.container {
    display: grid;
    grid-template-columns: 0.4fr 0.2fr 0.4fr;
    grid-template-rows: 125px 300px 300px 300px 125px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

.grid {
    background-color: transparent;
    color: white;
    padding: 25px;
}

.header {
    grid-column: 1 / 4;
    grid-row-start: 1 / 2;
}

.landing {
    grid-column: 1 / 4;
    grid-row-start: 2;
    grid-row-end: 5;
}

.builder-toppings {
    grid-column: 1 / 2;
    grid-row-start: 2 / 3;
}

.topping-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.builder-scoops {
    grid-column: 1 / 2;
    grid-row-start: 3 / 4;
}

.scoop-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.builder-base {
    grid-column: 1 / 2;
    grid-row-start: 4 / 5;
}

.base-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.center {
    grid-column: 2 / 3;
    grid-row-start: 2;
    grid-row-end: 5;
}

.viewer {
    grid-column: 3 / 4;
    grid-row-start: 2;
    grid-row-end: 5;
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
}

.footer {
    grid-column: 1 / 4;
    grid-row-start: 5 / 6;
}

.builder-image {
    max-width: 26%;
    min-width: 30px;
    /* max-height: 40%; */
    margin: auto;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
}

/* text&font */
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');

p {
    font-family: 'Work Sans', sans-serif;
    margin-top: 0px;
    margin-bottom: 5px;
}

h1 {    
    font-family: 'Work Sans', sans-serif;
    color: #fe2844;
}

.decorative-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.75em;
    color: #fe2844;
    margin: 3px;
}




/* buttons */
.solid-ombre-btn {
    background: -webkit-linear-gradient(right, #fe2844, #ff22b5, #d191fe);
    border: none;
    border-radius: 21px;
    color: white;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    width: 153px;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 50px;
}

.outline-ombre-btn {
    border-radius: 100rem;
    padding: 1rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    padding: .5rem 3rem;
    color: #fe2844;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #d191fe, #ff22b5, #fe2844);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px rgba(250,196,254,1) inset;
    cursor: pointer;
}

.outline-ombre-btn:hover {
    box-shadow: none;
    color: white;
}
